            <!-- PARTNER NEWSLETTERS Full Width, Fluid Column : BEGIN -->
                <tr>
                <td style="">
                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
                        <tr>
                            <td style="padding: 30px;  font-size: 16px; line-height: 22px; color: #651B0D;  text-align: center;font-family: 'Slabo 13px', serif;">
                                <div align="center"><img src="http://staff.parksconservancy.org/sites/default/files/images/newsletter.png" alt="newsletter" height="49" width="55" style="display: block;margin: auto;"></div>
                                <h2 align="center" style="text-align: center; font-size: 24px; letter-spacing: 2px;">PARTNER NEWSLETTER ROUNDUP</h2>
                                <hr style="width: 75%; height: 1px; color: #ffffff; background-color: #ffffff; opacity: .8; border: none;">
{% for item in items %}

     {% set link_text_array = item.content['#title']|split(':', 2) %}                               
    <h3 style="margin-bottom: 0px;  font-family: 'Open Sans Condensed', sans-serif; letter-spacing: 1px;"><a href="{{item.content['#url']|render|striptags|trim}}" style=" color: #651B0D;"><em>{{link_text_array[0]}}</em></a></h3>
                                <p style="margin-top:0px"><a href="{{item.content['#url']|render|striptags|trim}}" style=" color: #651B0D; text-decoration:none"><em>{{link_text_array[1]}}</em></a></p>

  {% if multiple %}
  
  {% endif %}

{% endfor %}{# empty Twig template #}
    </div>
       </td></tr>
            <!-- PARTNER NEWSLETTER Full Width, Fluid Column : END -->
